.button-grey {
    background-color: darkgray;
    border-color: black;
    color: black;
  }
  
  .button-grey:hover {
    background-color: black;
    color: white;
    outline-color: black;
  }

  .button-grey

  .button-grey:onclick {
    outline: black;
  }

  .flex-container {
    display: flex;
    justify-content: space-evenly;
  }